fastapi
uvicorn
sqlalchemy
pyodbc
pydantic
email-validator
bcrypt
passlib
python-multipart
langchain
langchain-core
langchain-community
langchain-openai
langchain-experimental
langgraph
pypdf
pdfminer.six
azure-identity
azure-storage-blob
