# Ignore node modules
node_modules/


# Ignore environment files
.env


# Ignore build output
dist/
out-tsc/


# Ignore logs
*.log


# Ignore IDE and OS files
.vscode/
.DS_Store
Thumbs.db


# Ignore Angular and npm cache
.angular/cache/
.cache/
.npm/